A8_LOGIN=your_a8_login_id
A8_PASSWORD=your_a8_password

CJ_EMAIL=your_email@example.com
CJ_PASSWORD=your_cj_password

IMPACT_EMAIL=your_email@example.com
IMPACT_PASSWORD=your_impact_password
IMPACT_SID=your_impact_api_sid
IMPACT_TOKEN=your_impact_api_token

PINTEREST_EMAIL=your_email@example.com
PINTEREST_PASSWORD=your_pinterest_password
